<aside>
  <img src="<%=asset_path('dog.jpg') %>" alt="dog image" class="img-circle">
  <h4>John Song</h4>
  <p> Software Eng, @CODEHANCE</p>
  <hr>
  <p>Share this page:</p>

  <a href="https://twitter.com/johnsong" class="twitter-follow-button" data-show-count="true">Follow @johnsong</a>

  <ul class="clearfix">
    <li><img src="<%= asset_path('twitter.png') %>"></li>
    <li><img src="<%= asset_path('facebook.png') %>"></li>
    <li><img src="<%= asset_path('linkedin.png') %>"></li>
    <li><img src="<%= asset_path('googleplus.png') %>"></li>
    <li><img src="<%= asset_path('pinterest.png') %>"></li>
    <li><img src="<%= asset_path('email.png') %>"></li>
  </ul>
</aside>

<script>
    !function(d,s,id){
        var js,fjs=d.getElementsByTagName(s)[0];
        if(!d.getElementById(id))
        {js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";
            fjs.parentNode.insertBefore(js,fjs);}
    }(document,"script","twitter-wjs");
</script>